

[Unit]
Description=Node-App-Server
After=network.target

[Service]
ExecStart=/usr/bin/node /var/www/nodeapp/app.js
WorkingDirectory=/var/www/nodeapp
Restart=always
 # Restart service after 10 seconds if node service crashes
 RestartSec=10
 # Output to syslog
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nodejs-example
User=appuser
SyslogIdentifier=node-app



[Install]
WantedBy=multi-user.target